extends layout

block head
  link(rel="stylesheet", href="/stylesheets/course.css")

block content
  main(class="container d-flex align-items-center justify-content-center")
    .card.me-5
      img(class="card-img-top" src=course.image, alt=course.name)
      .card-body
        h5(class="card-title") #{course.name}
        p(class="card-text") #{course.description}
      ul(class="list-group list-group-flush")
        li(class="list-group-item") #{course.Category.name}
        li(class="list-group-item") #{course.workload}h
      .card-body
        a(href="/courses", class="btn btn-primary") Close

    table.table.table-striped
      thead
        tr
          th.col Image
          th.col Name
          th.col.text-center Actions
      tbody
        if subscriptions.length === 0
          tr
            td(colspan="3" class="text-center") No subscriptions found
        else
          each subscription in subscriptions
            tr(class="align-middle")
              td
                img(src=subscription.User.image, alt=subscription.User.name)
              td #{subscription.User.name}
              td Oi
